<div class="row">
  <h1><%= @restaurant.name %></h1>
</div>
<div class="row">
  <div class="columns medium-6">
    <p>
      <%= @restaurant.description %>
    </p>
  </div>
  <div class="columns medium-6">
    <h3>Comments</h3>
    <% props = JSON.parse("{\"restaurantId\": #{@restaurant.id}, \"comments\": #{raw(render(template: 'comments/index.json.jbuilder'))}}") %>
    <% if params[:client].present? %>
      <%= client('CommentSection', 'cs', props) %>
    <% else %>
      <%= isomorphic('CommentSection', 'cs', props)%>
    <% end %>
  </div>
</div>
